@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Silkscreen', cursive;
    background-color: antiquewhite;
}

#game-description {
    width: 50%;
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 14%;
    position: relative;
    left: 24%;
    flex-direction: row;
}

i {
    font-size: 300%;
    font-weight: 900;
}

span i {
    font-size: 150%;
    font-weight: 900;
}

#game-description h1 {
    font-size: 340%;
}

#game-description p {
    position: relative;
    width: 80%;
}

.active {
    background-color: #8F7AB6;
}

.btn {
    background-color: #462C74;
    font-family: 'Silkscreen', cursive;
    font-size: 100%;
    color: rgb(57, 57, 57);
    padding: 15px 10px 15px 10px;
    border: #462C74;
    border-radius: 3%;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgba(83, 83, 83, 0.3);
}

input[type=button] {
    color: rgb(177, 177, 177);
}

#up-btns {
    width: 960px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer {
    padding: 15px 10px 15px 10px;
    font-size: 0.5rem;
}

a {
    color: rgb(248, 183, 15);
    text-decoration: none;
}